{% extends 'partials/base.html.twig' %}
{% set blog_route = header_var('blog_url')|defined(theme_var('blog-page')) %}

{% block main %}
  <div class="wrapper">
    <div class="grid">
      <div class="grid-element-1-1 grid-element-m-2-3 grid-element-l-3-4">
        <main id="main" role="main">
          {% block content %}{% endblock %}
        </main>
      </div>

      <div class="grid-element-1-1 grid-element-m-1-3 grid-element-l-1-4 sidebar">
        {% if config.plugins.simplesearch.enabled %}
          {% include 'simplesearch_searchbox.html.twig' %}
        {% endif %}

        {% if config.plugins.simplesearch.enabled and config.plugins.taxonomylist.enabled %}
          {% include 'partials/blog/tags.html.twig' with { base_url: blog_route, taxonomy: 'tag' } %}
        {% endif %}

        {% include 'partials/blog/navigation.html.twig' %}

        {% if config.plugins.feed.enabled %}
          {% include 'partials/blog/feed.html.twig' with { base_url: blog_route } %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
