<div class="grid-element-1-1 grid-element-m-1-4">
  <figure>
    <img src="{{ page.media[project.image].url }}" alt="{{ project.title|e }}" class="no-margin">
  </figure>
</div>
<div class="grid-element-1-1 grid-element-m-3-4">
  {{ project.description|markdown }}
</div>
