{% extends 'partials/base.html.twig' %}

{% block content %}
  <h1>{{ page.title|e }}</h1>
  {{ page.content|raw }}
  <div class="grid padded">
    {% for project in page.header.portfolio %}
      {% include 'partials/portfolio/item.html.twig' %}
    {% endfor %}
  </div>
{% endblock %}
